<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        
    </head>

    <body>
            <div class="gradient">    

        {{>header}}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quibusdam eius inventore consequuntur est dolore reiciendis accusamus, sint necessitatibus molestias provident repellendus explicabo illum temporibus. Consequuntur voluptatum esse architecto et.</p>
        {{>footer}}
                <script src="/js/style.js"></script>

                <script src="/js/app.js"></script>
    </div>
    </body>
</html>